/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
    height: 100%;
}

.text-layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: initial;
    overflow: hidden;
    list-style: 1;
    opacity: 0.2;
}

.text-layer > * {
    position: absolute;
    color: transparent;
    cursor: text;
    transform-origin: 0% 0%;
    white-space: pre;
}

.marked {
    animation: marked 2s infinite;
}

@keyframes marked {
    0% {
        background-color: orangered;
        box-shadow: orangered 0 0 0 5px;
    }
    50% {
        background-color: red;
        box-shadow: red 0 0 0 8px;
    }
    100% {
        background-color: orangered;
        box-shadow: orangered 0 0 0 5px;
    }
}

